#release building
build/
dist/
spec/
*.spec
make.bat

#ignore log
log.txt
clientlog.txt
#ignore downloads folders, but don't ignore example so folder still exists
downloads/*
!downloads/hello.txt
downloadable/*
!downloadable/hello.txt

#ignore names list
names.txt

#working and temp directories
__pycache__/
.vscode/