#release building
build/
dist/
spec/
*.spec
make.bat

#ignore log
log.txt
clientlog.txt
#ignore downloads folders, but keep example downloadable so it still exists
downloads/*
downloadable/*
!downloadable/hello.txt

#ignore names list
names.txt

#working and temp directories
__pycache__/
.vscode/