

#ignore log
log.txt
#ignore downloads folders, but don't ignore example so folder still exists
downloads/*
!downloads/hello.txt
downloadable/*
!downloadable/hello.txt

#ignore names list
names.txt

__pycache__/